{% extends 'base.html' %}
{% block content %}
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">City</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone Number</th>
                        </tr>
                    </thead>
                    <tbody>
                    {#TODO jak zmienić szerokość tabeli#}
                        {% for organization in organizations %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <th><a href="{% url 'organization-detail' organization.id %}">{{ organization.name }}</a></th>
                                <th>{{ organization.city }}</th>
                                <th>{{ organization.email }}</th>
                                <th>{{ organization.phone_number }}</th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</article>
{% endblock %}
